body {
    color: #F4F4F4;
}

.banner-container {
    max-width: 1280px;
    min-width: 417px;
    max-height: 100px;
    margin: 0 auto;
    background: #028399;
    background-image: url('/images/purple-wavey-background.png');
    background-repeat: no repeat;

    .banner-content {
        max-width: 90%;
        margin: 0 auto;
        padding-top: 5px;
        display: flex;

        .banner-image-container {
            display: flex;
            justify-content: center;
        }

        .banner-image {
            max-height: 90px;
            padding-top: 5px;
            object-fit: contain;
            justify-content: center;
            align-items: center;
        }

        .banner-text-wrapper {
            display: flex;
        }

        .text-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 5px;
        }

        h1 {
            font-family: 'Gotham Rounded', sans-serif;
            font-size: 1.3em;
            margin-bottom: 0;
        }

        p {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.1em;
            padding-bottom: 0;
        }
    }
}

.alt-banner {
    margin-top: 40px;
    color: #202020;

    // h1 {
    //     color: #009AE0;
    //     color: #00A846;
    // }

    .banner-container {
        background: #EBEFF0;
    }
}

// MEDIA QUERIES
@media screen and (max-width: 818px) {
    .banner-container .text-content>h1 {
        font-size: 1em;
        margin-bottom: 0;
    }

    .banner-container .text-content>p {
        font-size: .9em;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 576px) {
    .banner-content .banner-text-wrapper .text-content {
        margin-top: 0;
    }

    .banner-container .text-content>h1 {
        font-size: .9em;
    }

    .banner-container .text-content>p {
        font-size: .75em;
    }
}